[Unit]
Description=qBittorrent-nox service
Documentation=man:qbittorrent-nox(1)
Wants=network-online.target
After=network-online.target nss-lookup.target remote-fs.target
RequiresMountsFor={{ cifs_mount_points | join(' ') }}
ReadWritePaths={{ cifs_mount_points | join(' ') }}

[Service]
Type=simple

User={{ qbittorrent_user }}
Group={{ qbittorrent_group }}

WorkingDirectory=/home/qbittorrent

ExecStart=/usr/bin/qbittorrent-nox --confirm-legal-notice

Restart=on-failure
RestartSec=5

TimeoutStopSec=30

# Additional security
ProtectSystem=full
ProtectHome=false
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
