[defaults]

# Primary inventory. Can be overridden with -i.
inventory = inventories/home

# Path to project roles. Relative to the project root.
roles_path = roles:../dependencies/kubespray/roles

# Tells Ansible where to look for custom Ansible modules.
library = ../dependencies/kubespray/library

# Human-readable task output.
result_format = yaml

# Automatically detect the remote Python interpreter without discovery warnings.
interpreter_python = auto_silent

# Do not generate *.retry files. Failed hosts can still be targeted with --limit if needed.
# retry_files_enabled = False

# Number of parallel task executions. Default (5) is sufficient for small environments.
# forks = 10

# Verify SSH host identities before connecting.
# Set to True and uncomment ssh_args for deployment in production.
host_key_checking = False
#   ssh_args = -o UserKnownHostsFile=./ssh/known_hosts

[ssh_connection]

# Improves performance on most modern systems. May be incompatible with legacy sudo configurations that require a TTY.
pipelining = True
